/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  /* top: 60px; */
  top: 0;
  left: 0;
  bottom: 0;
  width: 275px;
  z-index: 1002;
  transition: all 0.3s;
  padding: 30px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #327A6D;
}

@media (max-width: 1199px) {
  /* .sidebar {
    left: -300px;
  } */
  .sidebar {
    position: fixed;
    top: 60px;
    /* top: 0; */
    left: -300px;
    bottom: 0;
    width: 275px;
    z-index: 1001;
    transition: all 0.3s;
    padding: 30px 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #327A6D;
  }
  #pendekar {
    display: none;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 255px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 16px;
  text-transform: uppercase;
  color: #75A69D;
  font-weight: 700;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #75A69D;
  transition: 0.3;
  background: #327A6D;
  padding: 10px 15px;
  /* border-radius: 4px; */
}

.sidebar-nav .nav-link i {
  font-size: 20px;
  font-weight: 400;
  margin-right: 6px;
  color: #75A69D;
}

.sidebar-nav .nav-link.active {
  /* color: #75A69D;
  background: #327A6D; */
  color: #FFFFFF;
  background: #75A69D;
}

.sidebar-nav .nav-link.active i {
  /* color: #75A69D; */
  color: #FFFFFF;
}

.sidebar-nav .nav-link:hover {
  color: #FFFFFF;
  background: #4E9F91;
}

.sidebar-nav .nav-link:hover i {
  color: #FFFFFF;
}

.sidebar-nav .nav-link .bi-chevron-right {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-right {
  transform: rotate(90deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #75A69D;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #FFFFFF;
}

.sidebar-nav .nav-content a.active i {
  background-color: #FFFFFF;
}

.smaller {
  font-size: 12px;
}